<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Painel de Atendimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Senhas Aguardando
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let senha of ticketService.listarSenhas()">
          {{ senha }}
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Últimas Chamadas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let chamada of ticketService.listarHistorico()">
          {{ chamada }}
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>